@import "tailwindcss";


@theme {
  --font-family-sans: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
	width: 100%;
	height: 100%;
}

body {
  @apply font-family-sans bg-white antialiased;
}